body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
}

.side-bar {
    display: flex;
    float: right;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 63%; /* Full height */
    /*position: fixed;  Make it stick, even on scroll */
    /*overflow: auto; Enable scrolling if the sidenav has too much content */
}

.inside-view {
  display: block;
  width: 75%;
  margin: 0;
}

.main-view {
  display: flex;
  margin: 50px 0 0 0;
  width: 100%;
}

#screen-1 {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  height: 30%;
  background-color: #C8E9CA;
  display: block;
  align-content: center;
  justify-content: left;
}

#screen-2 {
  margin: 10px;
  height: 30%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#screen-3 {
  margin: 10px;
  background-color: #4CB853;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  height: 100%;
}

textarea {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.emphasize {
  font-weight: 700;
}

#timer {
  height: 20px;
  width: 75%;
  margin: 0 12.5%;
  padding: 5px 0;
  text-align: center;
  border: 1px solid black;
  background-color: white;
}
